<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>WE ARE ADMINS</h1>
        <a href="{% url 'all_enrolled' %}">all enrolled students</a><br><br>
        <a href="{% url 'python_enrolled' %}">python enrolled</a><br><br>
        <a href="{% url 'java_enrolled' %}">java enrolled</a><br><br> 
        <a href="{% url 'testing_enrolled' %}">testing enrolled </a>
    </center>
    
</body>
</html>