<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <form action="{% url 'adminlogin' %}" method="post">
        {% csrf_token %}
        username <input type="text" name="uname"><br><br>
        password <input type="text" name="pwd"><br><br>
        <input type="submit" value="login"><br><br>
       
        
    </form>
    {% for msg in messages%}
    {{msg}} <br>
    {% endfor %}
</center>
</body>
</html>